.valueRating {
  --good-color: #1a92b6;
  --bad-color: #c04324;
  --neutral-color: #5c4f4d;
  --icon-height: 1rem;
  --icon-deep: 0.2rem;
  --icon-width: calc(var(--icon-height) / 0.75);

  $transactionTime: 300ms;

  width: var(--icon-width);
  height: var(--icon-height);

  .icon {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;

    .triangle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;

      span {
        @mixin triangle {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-origin: bottom;
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }

        &.front {
          transform: translateZ(calc(var(--icon-deep) * 0.5));

          @include triangle;
        }

        &.back {
          transform: translateZ(calc(var(--icon-deep) * -0.5));

          @include triangle;
        }

        &.floor {
          position: absolute;
          bottom: calc(var(--icon-deep) * -1);
          left: 0;
          width: 100%;
          height: var(--icon-deep);
          transform: rotateX(90deg) translateY(calc(var(--icon-deep) * 0.5 * -1));
          transform-origin: top;
        }

        transition: background-color $transactionTime ease;
      }

      &.good {
        transition: transform $transactionTime ease;

        span {
          background-color: var(--good-color);
        }
      }

      &.bad {
        transform: rotateX(180deg);
        transition: transform $transactionTime ease;

        span {
          background-color: var(--bad-color);
        }
      }

      &.neutral {
        transition: transform calc($transactionTime) ease;

        &.shape1 {
          transform: rotateX(90deg) translateZ(calc(var(--icon-height) * 0.15));
        }

        &.shape2 {
          transform: rotateX(90deg) translateZ(calc(var(--icon-height) * 0.15 * -1));
        }

        span {
          background-color: var(--neutral-color);
        }
      }

      &.mid-neutral {
        transition: transform calc($transactionTime) ease;

        &.shape1 {
          transform: rotateX(90deg);
        }

        &.shape2 {
          transform: rotateX(90deg);
        }

        span {
          background-color: var(--neutral-color);
        }
      }

      @keyframes rotate {
        0% {
          transform: rotateX(0);
        }

        50% {
          transform: rotateX(180deg);
        }

        100% {
          transform: rotateX(0deg);
        }
      }
    }
  }
}
